REACT_APP_LANGUAGE_OPTIONS="[{ "value": "en", "label": "English" },{ "value": "fi", "label": "Suomeksi" },{ "value": "se", "label": "Svenska" },{ "value": "fa", "label": "فارسی" },{ "value": "ar", "label": "عربی" }]"